section { text-align: center; }
footer {
  padding-top: 1ex;
  margin-top: 1em;
  border-top: 1px dotted #999;
}

body[data-study-mode="selection"] section#cards,
body[data-study-mode="studying"] section#sets,
body[data-study-mode="studying"] section.more,
body[data-study-mode="studying"] footer,
section#cards[data-study-state="front"] figure.back,
section#cards[data-study-state="back"] figure.front {
  display: none;
}

body section.more {
  margin-top: 2em;
  border-top: 1px dotted #999;
  text-align: left;
}

button.pref,
section#cards nav button {
  font-variant: small-caps;
}

thead {
  font-weight: bold;
  font-variant: small-caps;
}

section#sets thead {
  text-align: center;
}

section#sets td { padding: 0.5ex; }

section#sets tbody td:nth-child(2) {
  text-align: center;
}

section#cards figcaption {
  padding-top: 1em;
  margin-top: 1em;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 0.8em;
  font-style: italic;
}

section#cards figure {
  margin-left: 0;
  margin-right: 0;
}
section#cards figure .card {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

section#cards[data-content-type="image"] figure p.card,
section#cards[data-content-type="text"] figure img.card {
  display: none;
}

section#cards figure p.card {
  white-space: pre-line;
  padding: 1ex;
}

section#cards figure.back p.card {
  text-align: left;
}

section#cards figure.back .card {
  outline: 1px dotted #d45f73;
}

section#cards nav button {
  margin-left: 1ex;
}
section#cards nav button:first-child {
  margin-left: 0;
}

section#cards nav.settings {
  padding: 0.5ex 0 2ex 0;
}

section#cards nav.settings button.pref .warning { display: none; }
section#cards nav.settings button.pref[data-warning] .warning { display: inherit; }

button.pref [data-status] {
  font-weight: bold;
}

section#cards progress {
  width: 100%;
  height: 1ex;
  border: none;
}

section#sets td button {
  padding: 1em;
  font-weight: bold;
}

section#settings {
  margin-top: 1em;
  border-top: 1px dotted #999;
}
section#settings table thead {
  text-align: center;
  background-color: #eee;
}
section#settings table tbody { text-align: left; }
section#settings table tbody td:first-child { text-align: right; }
section#settings table tbody td {
  padding: 1ex;
}

section#settings table tbody td:nth-child(2) {
  border-bottom: 1px dotted #999;
}
section#settings table tbody tr:last-child td:nth-child(2) {
  border-bottom: none;
}

/* Toggle-warnings are never relevant on the dashboard */
section#settings button.pref .warning { display: none; }
