body[data-study-mode="selection"] section#cards,
body[data-study-mode="studying"] section#sets,
body[data-study-mode="studying"] footer,
section#cards[data-study-state="front"] figure.back,
section#cards[data-study-state="back"] figure.front {
  display: none;
}

nav button {
  font-variant: small-caps;
}

td { padding: 0.5ex; }

section#cards figcaption {
  padding-top: 1ex;
}

section#cards figure {
  margin-left: 0;
  margin-right: 0;
}
section#cards figure img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

section#cards figure.back img {
  outline: 1px dotted #d45f73;
}

section#cards nav button {
  margin-left: 1ex;
}
section#cards nav button:first-child {
  margin-left: 0;
}

section#cards nav.settings {
  padding: 0.5ex 0 2ex 0;
  border-bottom: 1px dotted #999;
}
